{% extends 'layouts/base.html' %}
{% load static file_extension info_value %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0-beta3/css/all.min.css">
{% block extrastyle %}
    <!-- ... Votre CSS ... -->
{% endblock extrastyle %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class=" border">
                <h4 class="text-center"> Traitement with Pandas</h4>
                <div class="d-flex flex-column ms-5">
                    <label for="xColumn">Add Row:</label>
                    <div class="d-flex">
                        <select class="form-select " id="selectRows" style="background-color: #f2f2f2; max-width: 400px; max-height: 50px;" aria-label="Select Rows" multiple>
                            {% for row in rows %}
                                <option value="{{ row }}">{{ row }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-primary m-2" onclick="executePandasOperation('rows')">Add </button>
                    
                    </div>
                    <label for="xColumn">Add Column:</label>

                        <div class="d-flex">
                            <select class="form-control" id="selectColumns" style="background-color: #f2f2f2; max-width: 400px; max-height: 50px;" aria-label="Select Columns" multiple>
                                {% for column in columns %}
                                    <option value="{{ column }}">{{ column }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-primary m-2" onclick="executePandasOperation('columns')">Add </button>
                        </div>
                   
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <div class="p-3 border">
                            <h4 class="text-center">Selected Rows</h4>
                            <div id="selectedRows"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-3 border">
                            <h4 class="text-center">Selected Columns</h4>
                            <div id="selectedColumns"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                
                    <!-- Ajouter le bouton "Show Data" -->
                    <button type="button" class="btn btn-primary mt-3" onclick="processSelections()">Process Selections</button>
                    <!--dive pour afficher selected data" -->
                    <div id="table-selected" style="overflow: auto; max-height: 500px;">

                    </div>

                    <!-- Ajouter la liste déroulante pour les traitements -->
                    <label for="operations">Select an operation to apply on a single row or a single column:</label>
                        <select class="form-select" id="operations">
                            <option value="mean">Moyenne</option>
                            <option value="mode">Mode</option>
                            <option value="median">Médiane</option>
                            <option value="variance">Variance</option>
                            <option value="std_deviation">Écart type</option>
                            <option value="min_value">Min</option>
                            <option value="max_value">Max</option>
                            <option value="range">Étendue</option>
                            <option value="sum">Somme</option>
                        </select>               
                    <!-- Ajouter le bouton pour exécuter le traitement -->
                    <button type="button" class="btn btn-primary mt-2" onclick="applyOperation()">Execute Operation</button>
                
                <!-- Ajoutez le conteneur pour afficher le résultat de l'opération -->
                <div id="operation-result" style="margin-top: 20px;"></div>
                    <!-- Add an input field for the filter expression -->
                    <label for="manipulateDF">Manipulate dataframe:</label>
                    <select class="form-select" id="manipulateDF" onchange="toggleFilterInput()">
                        <option value="removeNull">Remove Null values</option>
                        <option value="filter">Filter</option>
                        <option value="groupBy">Group By </option>

                    </select>

           
            <!-- Add an input field for the filter expression -->
            <div id="filterExpression" style="margin-top: 10px; display: none;">
                <label for="filterExpressionInput">Filter Expression:</label>
                <input type="text" class="form-control" id="filterExpressionInput" placeholder="Price>40">
                <p class="text-muted">Enter filter expressions like (Price > 40) or (Product == 'Product_1').</p>

            </div>
            <div id="groupByExpression" style="margin-top: 10px; display: none;">
                <label for="groupByExpressionInput">Group By Expression:</label>
                <input type="text" class="form-control" id="groupByExpressionInput" placeholder="male">
               

            </div>
            <button type="button" class="btn btn-primary mt-2" onclick="manipulateDF()">Manipulate</button>


            <div id="manipulate-result" style="overflow: auto; max-height: 500px;"></div>          
            </div>
            </div> 
            
        </div>   
        <div class="col-6 justify-content-center">
            <div class="p-1 border">
                <h4 class="text-center">DATAFRAME</h4>
                <div class="table-container" style="overflow-y: auto;">
                    {{ file_content | safe }}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .selected-item {
        border: 1px solid #ff0000; /* Bordure rouge */
        padding: 1px; /* Espace intérieur pour la croix */
        margin-bottom: 5px; /* Espacement entre les éléments */
        background-color: #f5c2c2;
        max-width: 100px;
        border-radius: 10px;
        text-align: center;
    }

    .delete-button {
        color: #ff0000; /* Couleur rouge pour la croix */
        cursor: pointer;
        border: none;
        background: none;
        font-size: 20px; /* Ajustez la taille de la croix selon vos préférences */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var selectedRowsList = [];
    var selectedColumnsList = [];
    var file_path = "{{ file_path|escapejs }}".replace(/\\/g, '\\\\');
    var link_path = "{{ link_path|escapejs }}".replace(/\\/g, '\\\\');

    function executePandasOperation(type) {
        var selectedOptions = [];
        var selectedList;
        var csrfToken = getCookie('csrftoken');

        if (type === 'rows') {
            var selectElement = document.getElementById('selectRows');
            selectedList = selectedRowsList;
        } else if (type === 'columns') {
            var selectElement = document.getElementById('selectColumns');
            selectedList = selectedColumnsList;
        }

        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].selected) {
                var value = selectElement.options[i].value;
                selectedOptions.push(value);

                // Ajouter à la liste correspondante
                if (!selectedList.includes(value)) {
                    selectedList.push(value);
                }
            }
        }

        // Mettre à jour la liste complète dans la div correspondante
        if (type === 'rows') {
            updateSelectedList('selectedRows', selectedRowsList);
        } else if (type === 'columns') {
            updateSelectedList('selectedColumns', selectedColumnsList);
        }
    }

    function updateSelectedList(listId, selectedList) {
    var listContainer = document.getElementById(listId);
    listContainer.innerHTML = '';

    for (var i = 0; i < selectedList.length; i++) {
        var listItem = document.createElement('div');
        listItem.className = 'selected-item'; // Ajout de la classe pour la bordure

        var valueSpan = document.createElement('span');
        valueSpan.innerHTML = selectedList[i];

        var deleteButton = document.createElement('button');
        deleteButton.className = 'delete-button'; // Ajout de la classe pour la croix
        deleteButton.innerHTML = 'x';

        // Utiliser une fonction anonyme pour capturer la bonne valeur
        (function (valueToRemove) {
            deleteButton.onclick = function () {
                removeItemFromList(selectedList, valueToRemove);
                updateSelectedList(listId, selectedList);
            };
        })(selectedList[i]);

        listItem.appendChild(valueSpan);
        listItem.appendChild(deleteButton);

        listContainer.appendChild(listItem);
    }
}

    function removeItemFromList(list, item) {
        var index = list.indexOf(item);
        if (index !== -1) {
            list.splice(index, 1);
        }
    }



    function processSelections() {
        var selectedRows = selectedRowsList;
        var selectedColumns = selectedColumnsList;

        var url = `/get_selectedValue/?file_path=${file_path}&link_path=${link_path}`;


        // Vérifier si aucune sélection n'a été faite
    if (selectedRows.length === 0 && selectedColumns.length === 0) {
        alert('Please select at least one row or column.');
        return;
    }


    // Vérifier si des lignes sont sélectionnées
    if (selectedRows.length > 0) {
        url += `&selected_rows[]=${selectedRows.join('&selected_rows[]=')}`;
    }

    // Vérifier si des colonnes sont sélectionnées
    if (selectedColumns.length > 0) {
        url += `&selected_columns[]=${selectedColumns.join('&selected_columns[]=')}`;
    }

    // Vérifier si des colonnes sont sélectionnées
    if (selectedRows.length > 1 && selectedColumns.length > 0) {
        url += `&selected_rows[]=${selectedRows.join('&selected_rows[]=')}&selected_columns[]=${selectedColumns.join('&selected_columns[]=')}`;
    }
        // Effectuez une requête AJAX pour récupérer les données du DataFrame à partir de l'URL
        fetch(url)
               .then(response => response.json())
               .then(data => {
                   // Mettez à jour les éléments de votre page avec les nouvelles données
                   document.getElementById("table-selected").innerHTML = data.file_content;       
                   // Mettez à jour les options des sélecteurs avec les colonnes
                   var columns = data.columns;
               })
               .catch(error => {
                   console.error('Error during AJAX request: ', error);
               });
    }

// Function to get the CSRF token from the cookie
    function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie !== '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
       var cookie = cookies[i].trim();
       if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
       }
       }
}
return cookieValue;
}

function applyOperation() {
    var selectedRowsList = [];
    var selectedColumnsList = [];
    var file_path = "{{ file_path|escapejs }}".replace(/\\/g, '\\\\');
    var link_path = "{{ link_path|escapejs }}".replace(/\\/g, '\\\\');
    var selectedOperation = document.getElementById("operations").value;

    // Utilisez les listes réelles ici
    var selectedRows = selectedRowsList;
    var selectedColumns = selectedColumnsList;
    // Mise à jour des listes avec les sélections réelles des utilisateurs
    var selectRowsElement = document.getElementById('selectRows');
    for (var i = 0; i < selectRowsElement.options.length; i++) {
        if (selectRowsElement.options[i].selected) {
            selectedRows.push(selectRowsElement.options[i].value);
        }
    }

    var selectColumnsElement = document.getElementById('selectColumns');
    for (var j = 0; j < selectColumnsElement.options.length; j++) {
        if (selectColumnsElement.options[j].selected) {
            selectedColumns.push(selectColumnsElement.options[j].value);
        }
    }
 
    var url = `/process_operation/?file_path=${file_path}&link_path=${link_path}`;
    url += `&selected_rows[]=${selectedRows.join('&selected_rows[]=')}&selected_columns[]=${selectedColumns.join('&selected_columns[]=')}&selected_operation=${selectedOperation}`;

    var csrfToken = getCookie('csrftoken');

    fetch(url)
    .then(response => response.json())
    .then(data => {
        if (data.error_message) {
            console.error(data.error_message);
        } else {
            // Afficher uniquement la valeur numérique dans la div
            const selectedOptionName = document.getElementById("operations").options[document.getElementById("operations").selectedIndex].text;
            const numericValue = data.result_data;
            document.getElementById("operation-result").innerHTML = `Selected Option: ${selectedOptionName}<br>Result: ${numericValue}`;
            //document.getElementById("operation-result").innerHTML = numericValue;
        }
    })
    .catch(error => {
    alert('Please enter numeric columns and not strings. The data you have chosen is invalid.');

        //console.error('Error during AJAX request: ', error);
    });
}
        function toggleFilterInput() {
    var manipulationType = document.getElementById("manipulateDF").value;
    var filterExpressionDiv = document.getElementById("filterExpression");
    var groupByExpression = document.getElementById("groupByExpression");
    // Toggle the display of the filter input field based on the selected manipulation type
    filterExpressionDiv.style.display = (manipulationType === 'filter') ? 'block' : 'none';
    groupByExpression.style.display = (manipulationType === 'groupBy') ? 'block' : 'none';
}

    

 // Function to toggle the filter input based on the selected manipulation type
 function manipulateDF() {
    var manipulationType = document.getElementById("manipulateDF").value;

    // Check if the selected manipulation type is "Filter"
    if (manipulationType === 'filter') {
        var filterExpression = document.getElementById("filterExpressionInput").value;
    }if (manipulationType === 'groupBy') {
        var groupByExpression = document.getElementById("groupByExpressionInput").value;
    }

    // Continue with the rest of your code for AJAX request and processing
    var url = `/manipulate_dataframe/`;
    var csrfToken = getCookie('csrftoken');

    fetch(url, {
        method: 'POST',  // Set the method to POST
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken,
        },
        body: new URLSearchParams({
            'file_path': file_path,
            'link_path': link_path,
            'manipulation_type': manipulationType,
            'filter_expression': filterExpression,
            'group_by_expression': groupByExpression,
        }),
    })
    .then(response => response.json())  // Convertir la réponse en objet JavaScript
.then(data => {
    if (data.error_message) {
        console.error(data.error_message);
    } else {
        // Afficher le DataFrame manipulé ou le nombre d'occurrences en fonction du type de manipulation
        if (manipulationType === 'groupBy') {
            document.getElementById("manipulate-result").innerHTML = `Occurrences Count of ${data.group_by_expression} : ${data.occurrences_count}`;
        } else {
            document.getElementById("manipulate-result").innerHTML = data.file_content;
        }
    }
})
    .catch(error => {
       // alert('Error during AJAX request: ' + error);
       alert('Please check the data you are entering ');
    });
}

    
</script>

{% endblock content %}